version: '3.8'

services: 
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: the_database
    volumes: 
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - ./mongo_data:/data/db
  redis:
    image: redis
    command: ['redis-server', '--appendonly', 'yes']
    volumes:
      - ./redis_data:/data
  todo-backend-dev:
    image: todo-backend-dev
    ports:
      - 3000:3000
    depends_on:
      - redis
      - mongo
    environment:
      MONGO_URL: "mongodb://the_username:the_password@mongo:27017/the_database"
      REDIS_URL: "redis://redis:6379"
  debug-helper:
    image: busybox